.Home_body_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .Home_body_wrapper {
        width: 100%;
        height: 100%;
        flex: 1; 
        display: flex;
        flex-direction: column;
        gap: 3rem;
        
        .Body_Home{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;

            .HomeDetails{
                width: 100%;
            }
            .MediaCnt{
                width: 6%;
                z-index: 1;
                top: 100px;
                left: 16%;
                position: relative;
            }
        }
        .Body_About{
            width: 100%;

            .AboutCnt{
                width: 100%;
            }
            .CardCnt{
                width: 100%;
                height: 0;
                z-index: 1;
                top: -745px;
                position: relative;
            }
        }
        .Body_Projects{
            width: 100%;
        }
        .Body_Skills{
            width: 100%;
        }
        .Body_SkillShowcase{
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .Home_body_container {
        .Home_body_wrapper {
            .Body_Home{
                flex-direction: column;
            }
        }
    }
}