.Home_body_container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;

    .Home_body_wrapper {
        width: auto;
        height: auto;
        flex: 1; 
        display: flex;
        flex-direction: column;
        gap: 3rem;
        
        .Body_Home{
            width: auto;
            height: auto;
            display: flex;
            flex-direction: row;

            .HomeDetails{
                width: 100%;
            }
        }
        .Body_About{
            width: auto;
            height: auto;


            .AboutCnt{
                width: auto;
            height: auto;
            }
        }
        .Body_Projects{
            width: auto;
            height: auto;
        }
        .Body_Skills{
            width: auto;
            height: auto;
        }
        .Body_SkillShowcase{
            width: auto;
            height: auto;
        }
    }
}