.AboutSection_container{
    width: auto;
    height: auto;

    .AboutSection_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}