.ProjectPage_container{
    width: 100%;
    height: 100%;

    .ProjectPage_wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem 1rem;

        .ProjectPage_left{
            width: 60%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .ProjectPage_topic1, .ProjectPage_topic2, .ProjectPage_topic3{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }
        .ProjectPage_right{
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .ProjectPage_right_top{
                width: 100%;
                height: 450px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 10px;
                background-color: rgba(14, 3, 62, 0.223);
                backdrop-filter: blur(10px);
                border: 1px solid rgba(255, 255, 255, 0.218);
            }
            .ProjectPage_right_bottom{
                width: 100%;
                height: 83px;
                display: flex;
                flex-direction: row;
                border-radius: 10px;
                background-color: rgba(14, 3, 62, 0.223);
                backdrop-filter: blur(10px);
                border: 1px solid rgba(255, 255, 255, 0.218);

                .ProjectPage_right_bottom_left{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .ProjectPage_right_bottom_right{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}