.layout_container {
    width: 100vw;
    min-height: 100vh;

    /* Animated gradient background */
        background: var(--gradient);
        background-size: 400% 400%;
        animation: gradientFlow 15s ease infinite;
        
        transition: var(--theme-transition);

    .layout_wrapper {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(180, 180, 180, 0.096);
        backdrop-filter: blur(10px);
        color: white;


        .layout_header {
            width: var(--gutter);
            height: 10vh;
            transition: var(--theme-transition);
            flex-shrink: 0;
        }
        
        .layout_body {
            width: var(--gutter);
            height: 100%;
            flex: 1;
            min-height: 0;
            display: flex;
            flex-direction: column;
        }
        
        .layout_footer {
            width: var(--gutter);
            height: 30vh;
            transition: var(--theme-transition);
            flex-shrink: 0;
        }
    }
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
